.MainChat
  .group--info
    .group--info--left__side
      .group--detail
        = @group.name
      .group--members
        %p Member :
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group.id), class: "edit-btn" do
      Edit
  .message--list
    = render @messages
  .message--form
    = form_with model: [@group, @message], html: {class: "new_message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image',)
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'