.SideBar
  .user--name
    .top--items
      .name
        = current_user.name
      .icons
        = link_to new_group_path, class: "a" do
          = icon("fas", "edit", class: "edit--icon")
        = link_to edit_user_path(current_user), class: "a" do
          = icon("fa", "cog", class: "cog--icon")
  .group--list
    - current_user.groups.each do |group|
      .groupDetail
        = link_to group_messages_path(group), class:"b" do
          .groupName
            = group.name
          .groupLast--message
            = group.show_last_message
    
    
    